.logo1 {
  width: 90px;
  height: auto;
  padding-left: 1rem;
}
.nav-link {
  color:blue;
}
.nav-link:hover {
  color: brown;
}

.iconodetails {
  width: 60px;
  margin: auto;
  justify-content: end;
}

.nav1{
  height: 100px;
}


.nav-user {
  padding-top: 8px;
  color: crimson;
}

.headerSpacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  margin: auto;
}

.bgHeader {
  background-color: #383d38;
}

mat-form-field {
  margin: 5px 0px;
  font-size: 15px;
  width: 300px;
  padding: 6px;
}

.dropdown-item{
  background-color: #383d38;
}
.icons{
  justify-content: flex-end;
}


a:hover, a:active{
  color: lightgray;
}

#navbarNavDropdown2{
  margin-left: 70%;
}
