<div class="card-group card-body ">
  <mat-card class="example-card card2 ">
    <div class="card card1">
      <mat-card-title class="title1">OrganizApp</mat-card-title>
      <mat-card-subtitle>Te ayuda a cumplir tus metas
      </mat-card-subtitle>
      <img width="90%" src="../../../assets/fondo.jpg" alt="Card image">

      <mat-carousel class="carousel" timings="250ms ease-in" [autoplay]="true" color="primary" maxWidth="auto"
        [loop]="true" [hideArrows]="false" [hideIndicators]="true" [useKeyboard]="true" [useMouseWheel]="false"
        mat-button="false" orientation="ltr">
        <mat-carousel-slide class="indicators" #matCarouselSlide *ngFor="let slide of slides; let i = index"
          [image]="slide.image" color-indicators=#ed7b32; [hideOverlay]="true"></mat-carousel-slide>
      </mat-carousel>
    </div>
  </mat-card>

  <div class="card-body">
    <div class="form">
      <mat-card class="card cardlogin titleregister">
        <mat-card-title class="titleregister">Register</mat-card-title>
        <mat-card-content>
          <div class="container">
            <mat-form-field>
              <input [(ngModel)]="registerData.name" matInput placeholder="Name and lastname" required />
            </mat-form-field>
            <mat-form-field>
              <input [(ngModel)]="registerData.email" type="email" matInput placeholder="Email" required />
            </mat-form-field>
            <mat-form-field>
              <input [(ngModel)]="registerData.password" type="password" matInput placeholder="Password" required />
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="registerUser()" class="button" mat-raised-button>
            Register
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>